@font-face {
  font-family: "Inter Medium";
  src: url("../assets/fonts/Inter-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter ExtraBoldItalic";
  src: url("../assets/fonts/Inter-ExtraBoldItalic.otf");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background: #293b2b;
}
@media (max-width: 1024px) {
  body {
    height: 1100px;
  }
}

.container {
  width: 100%;
  max-width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1180px) {
  .container {
    width: calc(100% - 20px);
  }
}
@media (max-width: 1024px) {
  .container {
    width: 320px;
  }
}

.btn {
  background: linear-gradient(102.12deg, #63d737 7.53%, #058048 98.25%);
  border: none;
  border-radius: 397px;
  cursor: pointer;
  font-family: "Inter Medium";
  color: #fff;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .space {
    display: none;
  }
}

.slide-1 {
  background-image: url("../assets/img/banner2_big.jpg");
}
@media (max-width: 1024px) {
  .slide-1 {
    background-image: url("../assets/img/banner2_small.jpg");
  }
}

.slide-2 {
  background-image: url("../assets/img/banner1_big.jpg");
}
@media (max-width: 1024px) {
  .slide-2 {
    background-image: url("../assets/img/banner1_small.jpg");
  }
}

.header {
  width: 100%;
  height: 60px;
  background: linear-gradient(0deg, rgba(22, 26, 22, 0) -37.5%, #161a16 68%);
  mix-blend-mode: normal;
}
@media (max-width: 1024px) {
  .header {
    height: 40px;
  }
}
.header__container {
  width: 100%;
  max-width: 1180px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1180px) {
  .header__container {
    padding: 0 10px;
  }
}
@media (max-width: 1024px) {
  .header__container {
    width: 320px;
    padding: 0;
  }
}
.header__logo {
  width: 101.66px;
  height: 26px;
}
@media (max-width: 1024px) {
  .header__logo {
    width: 70.38px;
    height: 18px;
  }
}
.header__actions {
  width: 215px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 1024px) {
  .header__actions {
    width: 86.67px;
    height: 22px;
  }
}
.header__actions span {
  font-family: "Inter Medium";
  text-decoration-line: underline;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .header__actions span {
    display: none;
  }
}
.header__btn {
  width: 130px;
  height: 30px;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 1024px) {
  .header__btn {
    width: 86.67px;
    height: 22px;
    font-size: 10.6667px;
    line-height: 13px;
  }
}

.main {
  width: 100%;
  height: 660px;
  position: relative;
}
@media (max-width: 1024px) {
  .main {
    height: 760px;
  }
}
.main__background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-image: url("../assets/img/banner_dark_frame.svg");
  background-position: center;
}
@media (max-width: 1024px) {
  .main__background {
    background-image: url("../assets/img/banner_dark_frame_small.svg");
  }
}
.main__content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1180px;
  height: 252px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 20;
}
@media (max-width: 1180px) {
  .main__content {
    width: calc(100% - 20px);
  }
}
@media (max-width: 1024px) {
  .main__content {
    width: 320px;
    height: 146px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.main__info {
  width: 400px;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  font-family: "Inter ExtraBoldItalic";
  font-size: 43.5572px;
  line-height: 53px;
  color: #fff;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
}
.main__info :nth-child(2) {
  align-self: flex-end;
}
.main__info :nth-child(3) {
  font-size: 56.6243px;
  line-height: 69px;
}
@media (max-width: 1024px) {
  .main__info {
    width: 220px;
    height: 96px;
    font-size: 24.0958px;
    line-height: 29px;
    order: 2;
  }
  .main__info :nth-child(3) {
    font-size: 31.3245px;
    line-height: 38px;
  }
}
.main__banner {
  align-self: flex-start;
  width: 215px;
  height: 86px;
  background: #fff;
  -moz-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
  -o-border-radius: 2px 2px 12px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
  border-radius: 0px 0px 25.8px 25.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter ExtraBoldItalic";
  font-size: 20px;
  line-height: 24px;
  color: #293b2b;
}
.main__banner :nth-child(2) {
  font-size: 28px;
  line-height: 34px;
}
@media (max-width: 1024px) {
  .main__banner {
    width: 211px;
    height: 26px;
    border-radius: 0px 0px 13.32px 13.32px;
    flex-direction: row;
    font-size: 10.3256px;
    line-height: 12px;
    order: 1;
  }
  .main__banner :nth-child(2) {
    font-size: 10.3256px;
    line-height: 12px;
  }
}
.main__slider {
  width: 100%;
  height: 100%;
  position: absolute;
}
.main__slider-slide {
  width: 100%;
  height: 100%;
  background-position: center;
  display: none;
}
.main__slider .active-slide {
  display: block;
  -moz-animation: slideInLeft 1500ms, ease-in;
  -webkit-animation: slideInLeft 1500ms, ease-in;
  -o-nimation: slideInLeft 1500ms, ease-in;
  animation: slideInLeft 1500ms, ease-in;
}
.main__slider-content {
  width: 430px;
  position: absolute;
  left: 0;
  bottom: 124px;
  z-index: 30;
}
@media (max-width: 1024px) {
  .main__slider-content {
    width: 320px;
    text-align: center;
    bottom: 490px;
  }
}
.main__slider-text {
  width: 386px;
  font-family: "Inter Medium";
  font-size: 32px;
  line-height: 120%;
  color: #fff;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .main__slider-text {
    width: 320px;
    font-size: 15.7428px;
    line-height: 120%;
    align-items: center;
  }
}
.main__slider-btn {
  width: 430px;
  height: 80px;
  margin-top: 29px;
  font-family: "Inter Medium";
  font-size: 36px;
  line-height: 148.9%;
  color: #fff;
}
@media (max-width: 1024px) {
  .main__slider-btn {
    width: 263px;
    height: 49px;
    margin-top: 12px;
    font-size: 22px;
    line-height: 149%;
  }
}
.main__slider-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  z-index: 5;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.6));
  filter: blur(3px);
  transform: translateX(-60px) skew(-45deg);
  animation: move 2s 2s infinite;
}
.main__slider-indicators {
  position: absolute;
  right: 0;
  bottom: 25px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.main__slider-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.main__slider-indicators .active {
  background: linear-gradient(102.12deg, #63d737 7.53%, #058048 98.25%);
}

.footer {
  width: 100%;
  height: 360px;
}
@media (max-width: 1024px) {
  .footer {
    height: 300px;
  }
}
.footer__container {
  width: 100%;
  max-width: 1180px;
  height: 300px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(2, auto)/repeat(2, 1fr);
  align-items: center;
}
@media (max-width: 1180px) {
  .footer__container {
    padding: 0 10px;
  }
}
@media (max-width: 1024px) {
  .footer__container {
    width: 320px;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
  }
}
@media (max-width: 1024px) {
  .footer__logo {
    order: 3;
  }
}
.footer__actions {
  width: 980px;
  height: 44px;
  padding: 2px;
  background: linear-gradient(102.12deg, #63d737 7.53%, #058048 98.25%);
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1150px) {
  .footer__actions {
    width: 870px;
  }
}
@media (max-width: 1024px) {
  .footer__actions {
    width: 320px;
    height: 32px;
    padding: 1px;
    order: 1;
  }
}
.footer__input {
  width: calc(100% - 175px);
  max-width: 799px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 24px;
  border-radius: 99px;
}
@media (max-width: 1150px) {
  .footer__input {
    width: 689px;
  }
}
@media (max-width: 1024px) {
  .footer__input {
    width: calc(100% - 98px);
    height: 30px;
    padding-left: 12px;
  }
}
.footer__input::-moz-placeholder {
  font-family: "Inter Medium";
  font-size: 17.1864px;
  line-height: 14px;
  color: #d9d9d9;
}
.footer__input::placeholder {
  font-family: "Inter Medium";
  font-size: 17.1864px;
  line-height: 14px;
  color: #d9d9d9;
}
@media (max-width: 1024px) {
  .footer__input::-moz-placeholder {
    font-size: 12.1086px;
    line-height: 100%;
  }
  .footer__input::placeholder {
    font-size: 12.1086px;
    line-height: 100%;
  }
}
.footer__btn {
  width: 175px;
  height: 40px;
  background: transparent;
  font-size: 17.1864px;
  line-height: 100%;
}
@media (max-width: 1024px) {
  .footer__btn {
    width: 98px;
    height: 30px;
    font-size: 12.1086px;
    line-height: 100%;
  }
}
.footer__payments-big {
  width: 100%;
  max-width: 1180px;
  grid-column-start: 1;
  grid-column-end: 3;
}
@media (max-width: 1024px) {
  .footer__payments-big {
    display: none;
  }
}
.footer__payments-small {
  display: none;
  width: 320px;
  order: 2;
}
@media (max-width: 1024px) {
  .footer__payments-small {
    display: block;
  }
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes move {
  from {
    left: 0;
  }
  to {
    left: 150%;
  }
}