$main-grean: linear-gradient(102.12deg, #63d737 7.53%, #058048 98.25%);
$background: #293b2b;

@font-face {
    font-family: 'Inter Medium';
    src: url('../assets/fonts/Inter-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter ExtraBoldItalic';
    src: url('../assets/fonts/Inter-ExtraBoldItalic.otf');
    font-weight: normal;
    font-style: normal;
}

@mixin borderRadius($br) {
    -moz-border-radius: $br;
    -webkit-border-radius: $br;
    -o-border-radius: $br;
    border-radius: $br;
}

@mixin boxShadow($bs) {
    -moz-box-shadow: $bs;
    -webkit-box-shadow: $bs;
    -o-border-radius: $bs;
    box-shadow: $bs;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1920px;
    height: 1080px;
    margin: 0 auto;
    background: $background;

    @media (max-width: 1024px) {
        height: 1100px;
    }
}

.container {
    width: 100%;
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
    position: relative;

    @media (max-width: 1180px) {
        width: calc(100% - 20px);
    }

    @media (max-width: 1024px) {
        width: 320px;
    }
}

.btn {
    background: $main-grean;
    border: none;
    @include borderRadius(397px);
    cursor: pointer;
    font-family: 'Inter Medium';
    color: #fff;
    position: relative;
    overflow: hidden;
}

.space {
    @media (max-width: 1024px) {
        display: none;
    }
}

.slide-1 {
    background-image: url('../assets/img/banner2_big.jpg');

    @media (max-width: 1024px) {
        background-image: url('../assets/img/banner2_small.jpg');
    }
}

.slide-2 {
    background-image: url('../assets/img/banner1_big.jpg');

    @media (max-width: 1024px) {
        background-image: url('../assets/img/banner1_small.jpg');
    }
}

.header {
    width: 100%;
    height: 60px;
    background: linear-gradient(0deg, rgba(22, 26, 22, 0) -37.5%, #161a16 68%);
    mix-blend-mode: normal;

    @media (max-width: 1024px) {
        height: 40px;
    }

    &__container {
        width: 100%;
        max-width: 1180px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1180px) {
            padding: 0 10px;
        }

        @media (max-width: 1024px) {
            width: 320px;
            padding: 0;
        }
    }

    &__logo {
        width: 101.66px;
        height: 26px;

        @media (max-width: 1024px) {
            width: 70.38px;
            height: 18px;
        }
    }

    &__actions {
        width: 215px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        line-height: 19px;

        @media (max-width: 1024px) {
            width: 86.67px;
            height: 22px;
        }

        & span {
            font-family: 'Inter Medium';
            text-decoration-line: underline;
            color: #fff;
            cursor: pointer;

            @media (max-width: 1024px) {
                display: none;
            }
        }
    }

    &__btn {
        width: 130px;
        height: 30px;
        font-size: 16px;
        line-height: 19px;

        @media (max-width: 1024px) {
            width: 86.67px;
            height: 22px;
            font-size: 10.6667px;
            line-height: 13px;
        }
    }
}

.main {
    width: 100%;
    height: 660px;
    position: relative;

    @media (max-width: 1024px) {
        height: 760px;
    }

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-image: url('../assets/img/banner_dark_frame.svg');
        background-position: center;

        @media (max-width: 1024px) {
            background-image: url('../assets/img/banner_dark_frame_small.svg');
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1180px;
        height: 252px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        z-index: 20;

        @media (max-width: 1180px) {
            width: calc(100% - 20px);
        }

        @media (max-width: 1024px) {
            width: 320px;
            height: 146px;
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }

    &__info {
        width: 400px;
        height: 175px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

        font-family: 'Inter ExtraBoldItalic';
        font-size: 43.5572px;
        line-height: 53px;
        color: #fff;
        text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);

        & :nth-child(2) {
            align-self: flex-end;
        }

        & :nth-child(3) {
            font-size: 56.6243px;
            line-height: 69px;
        }

        @media (max-width: 1024px) {
            width: 220px;
            height: 96px;
            font-size: 24.0958px;
            line-height: 29px;
            order: 2;

            & :nth-child(3) {
                font-size: 31.3245px;
                line-height: 38px;
            }
        }
    }

    &__banner {
        align-self: flex-start;
        width: 215px;
        height: 86px;
        background: #fff;
        @include boxShadow(2px 2px 12px rgba(0, 0, 0, 0.6));
        @include borderRadius(0px 0px 25.8px 25.8px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-family: 'Inter ExtraBoldItalic';
        font-size: 20px;
        line-height: 24px;
        color: #293b2b;
        & :nth-child(2) {
            font-size: 28px;
            line-height: 34px;
        }

        @media (max-width: 1024px) {
            width: 211px;
            height: 26px;
            @include borderRadius(0px 0px 13.32px 13.32px);
            flex-direction: row;
            font-size: 10.3256px;
            line-height: 12px;
            order: 1;

            & :nth-child(2) {
                font-size: 10.3256px;
                line-height: 12px;
            }
        }
    }

    &__slider {
        width: 100%;
        height: 100%;
        position: absolute;

        &-slide {
            width: 100%;
            height: 100%;
            background-position: center;
            display: none;
        }

        .active-slide {
            display: block;
            -moz-animation: slideInLeft 1500ms, ease-in;
            -webkit-animation: slideInLeft 1500ms, ease-in;
            -o-nimation: slideInLeft 1500ms, ease-in;
            animation: slideInLeft 1500ms, ease-in;
        }

        &-content {
            width: 430px;
            position: absolute;
            left: 0;
            bottom: 124px;
            z-index: 30;

            @media (max-width: 1024px) {
                width: 320px;
                text-align: center;
                bottom: 490px;
            }
        }

        &-text {
            width: 386px;
            font-family: 'Inter Medium';
            font-size: 32px;
            line-height: 120%;
            color: #fff;
            text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
            display: flex;
            flex-direction: column;

            @media (max-width: 1024px) {
                width: 320px;
                font-size: 15.7428px;
                line-height: 120%;
                align-items: center;
            }
        }

        &-btn {
            width: 430px;
            height: 80px;
            margin-top: 29px;
            font-family: 'Inter Medium';
            font-size: 36px;
            line-height: 148.9%;
            color: #fff;

            @media (max-width: 1024px) {
                width: 263px;
                height: 49px;
                margin-top: 12px;
                font-size: 22px;
                line-height: 149%;
            }

            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 20px;
                height: 100%;
                z-index: 5;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.6));
                filter: blur(3px);
                transform: translateX(-60px) skew(-45deg);
                animation: move 2s 2s infinite;
            }
        }

        &-indicators {
            position: absolute;
            right: 0;
            bottom: 25px;
            left: 0;
            z-index: 15;
            display: flex;
            justify-content: center;
            margin-right: 15%;
            margin-left: 15%;
            list-style: none;

            li {
                box-sizing: content-box;
                flex: 0 1 auto;
                width: 10px;
                height: 10px;
                background: #d9d9d9;
                @include borderRadius(50%);
                margin-right: 5px;
                margin-left: 5px;
                cursor: pointer;
            }

            .active {
                background: $main-grean;
            }
        }
    }
}

.footer {
    width: 100%;
    height: 360px;

    @media (max-width: 1024px) {
        height: 300px;
    }

    &__container {
        width: 100%;
        max-width: 1180px;
        height: 300px;
        margin: 0 auto;
        display: grid;
        grid-template: repeat(2, auto) / repeat(2, 1fr);
        align-items: center;

        @media (max-width: 1180px) {
            padding: 0 10px;
        }

        @media (max-width: 1024px) {
            width: 320px;
            padding: 0;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            justify-items: center;
        }
    }

    &__logo {
        @media (max-width: 1024px) {
            order: 3;
        }
    }

    &__actions {
        width: 980px;
        height: 44px;
        padding: 2px;
        background: $main-grean;
        @include borderRadius(99px);
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1150px) {
            width: 870px;
        }

        @media (max-width: 1024px) {
            width: 320px;
            height: 32px;
            padding: 1px;
            order: 1;
        }
    }

    &__input {
        width: calc(100% - 175px);
        max-width: 799px;
        height: 40px;
        border: none;
        outline: none;
        padding-left: 24px;
        @include borderRadius(99px);

        @media (max-width: 1150px) {
            width: 689px;
        }

        @media (max-width: 1024px) {
            width: calc(100% - 98px);
            height: 30px;
            padding-left: 12px;
        }

        &::placeholder {
            font-family: 'Inter Medium';
            font-size: 17.1864px;
            line-height: 14px;
            color: #d9d9d9;

            @media (max-width: 1024px) {
                font-size: 12.1086px;
                line-height: 100%;
            }
        }
    }

    &__btn {
        width: 175px;
        height: 40px;
        background: transparent;
        font-size: 17.1864px;
        line-height: 100%;

        @media (max-width: 1024px) {
            width: 98px;
            height: 30px;
            font-size: 12.1086px;
            line-height: 100%;
        }
    }

    &__payments {
        &-big {
            width: 100%;
            max-width: 1180px;
            grid-column-start: 1;
            grid-column-end: 3;

            @media (max-width: 1024px) {
                display: none;
            }
        }
        &-small {
            display: none;
            width: 320px;
            order: 2;

            @media (max-width: 1024px) {
                display: block;
            }
        }
    }
}

@-moz-keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes move {
    from {
        left: 0;
    }
    to {
        left: 150%;
    }
}

@-webkit-keyframes move {
    from {
        left: 0;
    }
    to {
        left: 150%;
    }
}

@keyframes move {
    from {
        left: 0;
    }
    to {
        left: 150%;
    }
}
